.app-main .app-header {

  .app-navbar {

    .btn {
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-padding-y: 0.5rem;
    }

    .nav-search {
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-padding-y: 0.344rem;
    }

  }

}
