body {
  --app-width: 100vw;
  --app-height: 100vh;
  width: var(--app-width);
  height: var(--app-height);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.app-menu {
  --app-menu-width: 280px;

  &.app-menu--systolic {
    --app-menu-width: 56px;
  }
}

.app-main .app-header,
.app-main .app-footer {
  flex-shrink: 0;
}

.app-toastr {
  display: none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  z-index: -999;
}

@include media-breakpoint-down(sm) {
  .app-menu {
    --app-menu-width: 0;
    -webkit-animation: scale-down-hor-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-hor-left 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  body.open-menu {
    .app-menu {
      display: flex !important;
      position: fixed;
      z-index: 999;
      --app-menu-width: 100vw;
      -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
      animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
  }

}
